header {
    display: flex;
    padding: 16px 16px;
    background-color: #2b0049;
    color: #fff;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;    
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a{
    color:#fff;
}