header {    
    background-color: #2b0049;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color:#fff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;    
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    flex-direction: row;
}

.brands-list img {
    height: 24px;
}
    
.brands-list li{
    display: inline;
}